<div class="wrapper">
  <header class="header">
    <div class="header__content container"></div>
  </header>
  <main class="page">
    <div class="page__container container">
      <!-- Боковой фильтр -->
      <app-filters></app-filters>
      <!-- Список рейсов -->
      <div class="wrapper" data-list-mount>
        <!-- <div class="wrapper" data-list-mount *ngFor="let card of countCard$ | async"> -->
        <app-flight-card class="_container">
        </app-flight-card>
        <div class="flight__counter-button">
          <button class="count-flight">Показать ещё</button>
        </div>
      </div>
    </div>
  </main>
</div>
