<div class="test"></div>
<div class="page-content" *ngFor="let fl of dataFlight$ | async">
  <div class="page-content__title">
    <div class="title-content">
      <div class="title-logo" data-carrier="uid">{{fl.carrierUid}}</div>
      <div class="title-price__content">
        <div class="total-price rub title-color" data-price="total">
          {{fl.totalPrice}}
        </div>
        <div class="description-price title-color">
          Стоимость для одного взрослого пассажира
        </div>
      </div>
    </div>
  </div>
  <div class="page-content__body body-content">
    <div class="body-content__flight">
      <div class="flight-date__content">
        <div class="date-content flight-oneway">
          <div class="date-content__flight flight-content">
            <div class="flight-content__container">
              <span class="city-name airoport-title" data-departureCity="caption">{{fl.departureCity}}</span>,
              <span class="airport-name airoport-title" data-departureAirport="caption">{{fl.departureAirport}}</span>
              <span class="airport-uid" data-departureAirport="uid">{{fl.departureAirportUid}}</span>
              <div class="arrow"></div>
              <span class="city-name airoport-title" data-arrivalCity="caption">{{fl.arrivalCity.caption}}</span>
              <span class="airport-name airoport-title" data-arrivalAirport="caption">{{fl.arrivalAirport}}
              </span>
              <span class="airport-uid" data-arrivalAirport="uid">{{fl.arrivalAirportUid}}</span>
            </div>
          </div>
          <div class="flight-content__date date-container">
            <div class="date-content__departure-date date-content__date">
              <span class="departure-time flight-time airoport-title"
                data-departureDate="time">{{fl.departureDateTime}}</span>
              <span class="departure-date flight-date" data-departureDate="day">{{fl.departureDateNum}}
                {{fl.departureDateMonth}}.
                {{fl.departureDateDay}}</span>
            </div>
            <div class="date-content__transfer" data-duration>
              {{fl.departureDurationHour}} ч {{fl.departureDurationMinutes}} мин
            </div>
            <div class="date-content__arrival-date date-content__date">
              <span class="arrival-time flight-time airoport-title"
                data-arrivalDate="time">{{fl.arrivalDateTime}}</span>
              <span class="arrival-date flight-date" data-arrivalDate="day">{{fl.arrivalDateNum}}
                {{fl.arrivalDateMonth}}.
                {{fl.arrivalDateDay}}</span>
            </div>
          </div>
          <div class="date-content__border">
            <div class="duration-title durationClassList">1 пересадка</div>
          </div>
          <div class="date-content__airlines" data-airlines="caption">
            Рейс выполняет: {{fl.departureCarrierThere}}
          </div>
        </div>
      </div>
      <div class="flight-content__border"></div>
      <div class="flight-date__content">
        <div class="date-content flight-oneway">
          <div class="date-content__flight flight-content">
            <div class="flight-content__container">
              <span class="airport-name airoport-title" data-departureAirport="caption">{{fl.departureBackAirport}}
              </span>
              <span class="airport-uid" data-departureAirport="uid">{{fl.departureBackAirportUid}}</span>
              <div class="arrow"></div>
              <span class="city-name airoport-title" data-arrivalCity="caption">{{fl.arrivalBackCity}}</span>,
              <span class="airport-name airoport-title" data-arrivalAirport="caption">{{fl.arrivalBackAirport}}</span>
              <span class="airport-uid" data-arrivalAirport="caption">{{fl.arrivalBackAirportUid}}</span>
            </div>
          </div>
          <div class="flight-content__date date-container">
            <div class="date-content__departure-date date-content__date">
              <span class="departure-time flight-time airoport-title"
                data-departureDate="time">{{fl.departureBackDateTime}}</span>
              <span class="departure-date flight-date" data-departureDate="day">{{fl.departureBackDateNum}}
                {{fl.departureBackDateMonth}}.{{fl.departureBackDateDay}}</span>
            </div>
            <div class="date-content__transfer" data-duration>
              {{fl.departureBackDurationHour}} ч {{fl.departureBackDurationMinutes}} мин
            </div>
            <div class="date-content__arrival-date date-content__date">
              <span class="arrival-time flight-time airoport-title"
                data-arrivalDate="time">{{fl.arrivalBackDateTime}}</span>
              <span class="arrival-date flight-date" data-arrivalDate="day">{{fl.arrivalBackDateNum}}
                {{fl.arrivalBackDateMonth}}.
                {{fl.arrivalBackDateDay}}</span>
            </div>
          </div>
          <div class="date-content__border">
            <div class="duration-title durationClassListBack">1 пересадка</div>
          </div>
          <div class="date-content__airlines" data-airlines="caption">
            Рейс выполняет: {{fl.departureBackCarrierThere}}
          </div>
        </div>
      </div>
    </div>
    <!-- end card -->
  </div>
  <div class="page-content__footer footer-content">
    <button class="flight-selection button">Выбрать</button>
  </div>
</div>